<header>  
    <section class="homepage-images">
        <img class="homepage-image" src="/assets/images/plant4.jpg" alt="header ambiance image 1">
        <img class="homepage-image" src="/assets/images/stekje2.webp" alt="header ambiance image 2">
        <img class="homepage-image" src="/assets/images/homepageimage1.webp" alt="header ambiance image 3">
    </section>
</header>