<nav>
    <img class="nav-plantswap-logo" src="/assets/images/PlantSwap-logo-bruin.svg" alt="plantswap logo">
    <a href="/"><img class="nav-home-icon" src="/assets/images/homeicon.png" alt="home-button"></a>
</nav> 