<%- include('./partials/plantform-head.ejs') %>


	<form class="add-plant-form" action="plantform" method="post">
		<fieldset>
				<h2 class="form-plant-title">Stekje aanmelden</h2>
				<div class="form-plant-name">
					<div class="form-plant-name-helper helper">
						<label for="naam">Naam van stekje:</label>
						<img class="name-help-circle" src="/assets/images/help-circle.svg">
						<p class="tooltip tooltip-name">Voer hier de naam van het stekje in.</p>
					</div>
					<input type="text" name="naam" id="naam" placeholder="..." value="<% locals.naam ?? '' %>" />
			
				</div>
				<div class="form-plant-origin">
					<div class="form-plant-origin-helper helper">
						<label for="landvanherkomst">Land van herkomst:</label>
						<img class="origin-help-circle" src="/assets/images/help-circle.svg">
						<p class="tooltip tooltip-origin">Voor hier het land waar het stekje vandaan komt in.</p>
					</div>
					<input type="text" name="landvanherkomst" id="landvanherkomst" placeholder="..." value="<% locals.landvanherkomst ?? '' %>" />
			
				</div>
				<div class="form-plant-poisonous">
					<div class="form-plant-poisonous-helper helper">
						<label for="giftig">Giftig?:</label>
						<img class="poisonous-help-circle" src="/assets/images/help-circle.svg">
						<p class="tooltip tooltip-poisonous">Beschrijf hier of het stekje giftig is voor mensen of dieren.</p>
					</div>	
					<input type="text" name="giftig" id="giftig" placeholder="..." value="<% locals.giftig ?? '' %>" />
				</div>	
				<div class="form-plant-repot">
					<div class="form-plant-repot-helper helper">
						<label for="verpotten">Verpotten?</label>
						<img class="repot-help-circle" src="/assets/images/help-circle.svg">
						<p class="tooltip tooltip-repot">Beschrijf hier of en wanneer het stekje verpot moet worden.</p>
					</div>	
					<input type="text" name="verpotten" id="verpotten" placeholder="..." value="<% locals.verpotten %>" />
				</div>		
				<div class="form-plant-feed">
					<div class="form-plant-feed-helper helper">
						<label for="voeding">Voeding?</label>
						<img class="feed-help-circle" src="/assets/images/help-circle.svg">
						<p class="tooltip tooltip-feed">Beschrijf hier hoevaak het stekje voeding nodig heeft.</p>
					</div>	
					<input type="text" name="voeding" id="voeding" placeholder="..." value="<% locals.voeding %>" />
				</div>
				<input class="submit-button" type="submit" value="Opslaan" /> 
		</fieldset>
	</form>

<%- include('./partials/foot.ejs') %>