*{
    margin: 0;
    box-sizing: border-box;
  }
  
  :root{
    --main-ambiance-background-color: #E5F6DF;
    --title-text-color: #654321;
    --main-text-font: 'PT Sans', sans-serif;
  }
  
  /* FONT SIZES */
  
  .title-text-big{
    font-size: 40px;
  }
  
  .subtitle-text-regular{
    font-size: 28px;
  }
  
  .subtitle-text-small{
    font-size: 24px;
  }
  
  @font-face{
    font-family: Positive Attitude;
    src: url('../assets/fonts/PositiveAttitude.ttf')
  }
  
  /* utilities */
  
  .subtitle-utility{
    color: var(--title-text-color);
    border-bottom: 1px solid var(--title-text-color);
    padding: 0.5rem;
    text-align: center;
  }
  
  .text-box{
    padding: 0.5rem;
    background-color:rgba(255, 255, 255, 0.7);
  }
  
  /* body */
  
  body{
    font-family: var(--main-text-font);
  }
  
  /* nav */
  
  nav{
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 2rem;
    overflow: hidden;
    background-color: var(--main-ambiance-background-color);
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    z-index: 1;
    color: white;
  }
  
  .nav-plantswap-logo{
    width: 8rem;
  }

  .nav-home-icon{
    color: var(--title-text-color)
  }

  /* header */
  
  .homepage-images{
    margin: 0 auto 0 auto;
    width: 100%;
    height: 16rem;
    position: relative;
  }
  
  .homepage-image{
    position: absolute;
    width: 100%;
    height: 100%;
    max-height: 250px;
    object-fit: cover;
    opacity: 0;
    transition: 1s ease-in-out;
  }
  
  .show-homepage-image{
    opacity: 1;
  }
  
  .banner{
    position: relative;
    font-family: Positive Attitude;
    display: flex;
    flex-direction: column;
    color: var(--title-text-color);
    width: 100%;
    max-width: 35rem;
    padding: 2rem 4rem;
    overflow: hidden;
    margin: 2rem auto 0 auto;
  }

  .banner::after{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: var(--main-ambiance-background-color);
    z-index: -1;
  }
  
  .banner::after{
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
    border-radius: 50%;
  }

  .banner-line-1{
    font-size: 40px;
    margin: 0 auto 0 0;
  }
  
  .banner-line-2{
    font-size: 64px;
    font-weight: 700;
    margin: 0 auto 0 auto;
  }
  
  .banner-line-3{
    font-size: 40px;
    margin: 0 0 0 auto;
  }

  .useage{
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
    max-width: 35rem;
    margin: 0 auto;
    background-color: white;
  }
  
  .useage-wrapper{
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }

  .add-plant-button{
    width: 15rem;
    font-size: 20px;
    margin: 1rem auto 2rem auto;
    background-color: var(--title-text-color);
    color: white;
    border-radius: 25px;
    text-decoration: none;
    border: none;
    padding: 1rem;
    text-align: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  }

  .add-plant-button:hover{
    background-color: #987554;
  } 

  /* plant list */
  
  .plant-list-container{
    position: relative;
    margin: 2rem 0 0 0;
    overflow: hidden;
  }

  .plant-list-title{
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    height: 5rem;
    margin: 1rem 2rem;
  }
  
  .plant-list{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    gap: 2rem;
    padding: 1rem 2rem 1rem 2rem;
  }
  
    .plant-list::before{
      content: '';
      position: absolute;
      top: -100px;
      left: -300px;
      width: 600px;
      height: 600px;
      border-radius: 50%;
      background-color: var(--main-ambiance-background-color);
      z-index: -1;
    }

  .plant-list::after{
    content: '';
    position: absolute;
    bottom: 0;
    right: -200px;
    width: 600px;
    height: 600px;
    border-radius: 50%;
    background-color: var(--main-ambiance-background-color);
    z-index: -1;
  }


  .plant-link{
    width: 40%;
    max-width: 13.5rem;
    text-decoration: none;
    color: var(--title-text-color);
    border-radius: 8px;
    transition: .2s;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  }

  .plant-link:hover{
    transform: scale(1.05);
  }
  
  .plant-image{
    width: 100%;
    height: 15rem;
    object-fit: cover;
    border-radius: 8px 8px 0 0;
  }
  
  .plant-title{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    padding: 0.5rem;
    height: 4.5rem;
    margin-top: -5px;
    background-color: white;
    border-radius: 0 0 8px 8px;

  }
    /* general information */
  
  .general-information{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2rem 1rem;
    gap: 1rem;
    overflow: hidden;
  }  

  /* .general-information::after{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: var(--main-ambiance-background-color);
    z-index: -1;
  } */
/* 
  .general-information::after{
    clip-path: polygon(50% 0%, 100% 50%, 50% 50%, 0% 50%);
  } */

  .general-information > section{
    width: 100%;
    max-width: 20rem;
  }
  
  .buurtcampus-googlemaps > iframe{
    margin: 1rem 0 0 0;
  }
  
  /* footer */
  
  footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin: 2rem auto 0 auto;
    width: 100%;
    background-color: var(--main-ambiance-background-color);
    padding: 1rem;
  }
  
  footer > img{
    width: 90%;
    max-width: 50rem;
    margin: 0 auto;
  }

  footer > p{
    width: 50%;
    text-align: center;
  }

  /* PLANT PAGE */

  .plant-page-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0 auto;
  }

  .plant-page-header-image{
    width: 100%;
    max-width: 500px;
    height: auto;
    max-height: 500px;
    object-fit: cover;
  }

  .plant-page-header-content{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
    overflow: hidden;
    width: 100%;
  }

  .plant-page-header-content::after{
    content: '';
    width: 200%;
    height: 200%;
    position: absolute;
    transform: rotate(135deg);
    background-color: var(--main-ambiance-background-color);
    z-index: -1;
  }

  .plant-page-plant-title{
    text-align: center;
    font-size: 20px;
    color: var(--title-text-color); 
  }

  .plant-page-plant-info{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  .plant-page-plant-info-box{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin: 0 auto;
    width: 60%;
    text-align: center;
  }


.plant-page-plant-info-title{ 
    padding: 0.5rem;
    border-bottom: 1px solid var(--title-text-color);
    color: var(--title-text-color)
  }


  .reserve-plant-button{
    font-family: var(--main-text-font);
    font-size: 20px;
    font-weight: 700;
    background-color: var(--title-text-color);
    color: white;
    padding: 0.5rem;
    width: 70%;
    border-radius: 25px;
    border: none;
  }

  @media only screen and (min-width: 768px){
  
    .plant-list{
      justify-content: flex-start;
      flex-wrap: nowrap;
      overflow-x: auto;
      overflow-y: hidden;
      padding: 1rem 2rem 2rem 3rem;
    }
  
    .useage-wrapper{
      align-items: flex-start;
    }

    .useage{
      background-color:rgba(255, 255, 255, 0.7);
      border-radius: 20px;
    }
    .plant-image{
      min-width: 11.5rem;
    }
  
    .plaf-1{
      height: 300px;
      width: 200%;
      transform: rotate(-8deg);
      left: -100%;
    }
  
    .plaf-2, .plaf-3, .plaf-4, .plaf-5{
      display: none;
    }

  footer{
    margin: 5rem auto 0 auto;
  }
  
  /* PLANT PAGE */

  .plant-page-header{
    width: 80%;
  }

  .plant-page-header-content{
    flex-direction: row;
  }

  .plant-page-plant-title{
    font-size: 28px;
    width: 40%;
  }

  .reserve-plant-button{
    width: 40%;
  }

  .plant-page-plant-info{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 80%;
    margin: 2rem auto;
    gap: 1rem;
  }

  .plant-page-plant-info-box{
    width: 45%;
    margin: 0;
  }

  .plant-page-plant-info-title{
    font-size: 20px;
  }
  }

  @media only screen and (min-width: 1024px){

    .homepage-image{
      min-height: 30rem;
    }
  
    .banner{
      display: flex;
      flex-direction: column;
      padding: 0rem 6rem;
      justify-content: center;
      z-index: 1;
    }

    .banner-line-1{
      font-size: 60px;
    }

    .banner-line-2{
      font-size: 80px;
    }

    .banner-line-3{
      font-size: 60px;
    }
  
    .useage-wrapper{
      padding: 3rem 0 0 0;
      flex-direction: row;
    }

    .general-information > section{
      max-width: 30rem;
    }
  
    /* plant page*/

    .plant-page-header{
      height: 350px;
      flex-direction: row;
      width: 70%;
      border-radius: 50px;
    }

    .plant-page-header-image{
      width: 500px;
      height: 350px;
      border-radius: 50px 0 0 50px;
    }

    .plant-page-header-content{
      flex-direction: column;
      background-color: var(--main-ambiance-background-color);
      height: 100%;
      border-radius: 0 50px 50px 0;
    }

    .plant-page-plant-title{
      width: 100%;
      text-align: center;
    }

    .plant-page-plant-info{
      margin: 5rem auto 0 auto;
      overflow: hidden;
    }

    .plant-page-plant-info-box{
      width: 30%;
    }

    .reserve-plant-button{
      width: 70%;
      max-width: 20rem;
    }
  }